{# This file is built from html.html.twig with several parts from /vendor/swagger-api/swagger-ui/dist/index.html #}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>

    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">

    {# Swagger UI assets are now defined and attached as library #}
    {{ attach_library('ic_swagger_ui/ic_swagger_ui-assets') }}

    {# This snippet is taken from swagger-api/swagger-ui/dist/index.html with minor changes, described below #}
    <script type="text/javascript">
      $(function () {

        var url = window.location.search.match(/url=([^&]+)/);
        if (url && url.length > 1) {
          url = decodeURIComponent(url[1]);
        }
        else {
          {# Render scanned doc URI here #}
          url = "{{ url('ic_swagger_ui.scan') }}";
        }

        hljs.configure({
          highlightSizeThreshold: 5000
        });

        // Pre load translate...
        if (window.SwaggerTranslator) {
          window.SwaggerTranslator.translate();
        }

        window.swaggerUi = new SwaggerUi({
          validatorUrl : null, {# Turn off external validator #}
          url: url,
          dom_id: "swagger-ui-container",
          supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
          onComplete: function (swaggerApi, swaggerUi) {
            if (typeof initOAuth == "function") {
              initOAuth({
                clientId: "your-client-id",
                clientSecret: "your-client-secret-if-required",
                realm: "your-realms",
                appName: "your-app-name",
                scopeSeparator: " ",
                additionalQueryStringParams: {}
              });
            }

            if (window.SwaggerTranslator) {
              window.SwaggerTranslator.translate();
            }
          },
          onFailure: function (data) {
            log("Unable to Load SwaggerUI");
          },
          docExpansion: "none",
          jsonEditor: false,
          defaultModelRendering: 'schema',
          showRequestHeaders: false,
          showOperationIds: false
        });

        window.swaggerUi.load();

        function log() {
          if ('console' in window) {
            console.log.apply(console, arguments);
          }
        }
      });
    </script>

</head>

{# This snippet is taken from swagger-api/swagger-ui/dist/index.html with minor changes, described below #}
<body class="swagger-section">
<div id='header'>
    <div class="swagger-ui-wrap">
        <a id="logo" href="http://swagger.io">
            <img class="logo__img" alt="swagger" height="30" width="30" src="{{ getPathToImages() }}/logo_small.png"/>
            <span class="logo__title">swagger</span>
        </a>
        <form id='api_selector'>
            <div class='input'>
                <input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/>
            </div>
            <div id='auth_container'></div>
            <div class='input'><a id="explore" class="header__btn" href="#" data-sw-translate>Explore</a></div>
        </form>
    </div>
</div>
<div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>



